<% const item = post %>
<article class="post post--archive">
    <header class="post__header">
        <h2>
            <a href="<%- config.root %><%- item.path %>" class="post__title"><%- item.title %></a>
        </h2>
        <div class="post__meta">
            <address rel="author" class="post__author"><%= item.author.name %></address>
            <time pubdate datetime="<%= new Date(item.date).toJSON() %>" class="post__publish-date"><%= item.date.format(config.date_format) %></time>
        </div>
    </header>
</article>