<article class="archive-article archive-type-<%= post.layout %>">
    <header class="archive-article-header">
        <h2>
          <a class="post__title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </h2>
      <div class="meta">
        <%- post.author.name %>
      </div>
    </header>
    <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
</article>