<% const postsGroupedByYear = [] %>
<% page.posts.each(function(post){ %>
<%
  var postYear = +(post.date.year())

  if(postsGroupedByYear[postYear] == null)
    postsGroupedByYear[postYear] = [];

  postsGroupedByYear[postYear].push(post);

%>
<% }) %>
<% const posts = postsGroupedByYear; %><%posts.forEach((postsInYear, year) => {
  let yearUrl = url_for(config.archive_dir) + '/' + year;
%>
<section class="archive__by-year">
  <a href="<%- yearUrl %>" class=archive-year>
    <% if(is_tag()) %> <%- page.tag %>
    <% if(is_category()) {%>
    <%- page.category %>
    <%} else { %><%- "Posts" %><% } %>
    in
    <%= year %>
  </a>
  <div class="archive__posts">
  <%postsInYear.forEach(post => {%>
    <%- partial('archive-post', {post}); %>
  <%});%>
  </div>
</section>
<%})%>

