<article class="post post--featured">
    <header class="post__header">
        <h2>
            <small class="label">Featured</small>
            <a href="<%- config.root %><%- item.path %>" class="post__title"><%- item.title %></a>
        </h2>
    </header>
    <p class="post__meta">
        <address class="author-name" rel="author"><%= item.author.name %></address>
        <time class="article-date" datetime="<%= new Date(item.date).toJSON() %>" pubdate><%= item.date.format(config.date_format) %></time>
    </p>
</article>