<article class="post">
    <header class="post__header">
        <h2>
            <a href="<%- config.root %><%- item.path %>" class="post__title"><%- item.title %></a>
        </h2>
        <div class="post__meta">
            <address rel="author" class="author-name sr-only"><%= item.author.name %></address>
            <time pubdate datetime="<%= new Date(item.date).toJSON() %>" class="article-date"><%= item.date.format(config.date_format) %></time>
        </div>
    </header>
    <% if(with_excerpt) { %>
    <section class="post__excerpt">
        <%- item.excerpt || "" %>
    </section>
    <% } %>
</article>