<% const item = post %>
<article>
  <header>
    <h1>
      <a href="<%- config.root + post.path %>" class="post__title"><%- item.title %></a>
    </h1>
  </header>
  <%- post.content %>
  <footer class="article-footer">
      <%- partial('post/tag') %>
      <%- partial('post/category') %>
  </footer>
</article>