<main class="index" aria-label="Content">
    <section class="section">
        <header class="section__heading">
            <h2>Featured Article</h2>
        </header>
        <% 
            let featuredArticleHasBeenFound = false;
            page.posts.each(function(item){ 
                if(featuredArticleHasBeenFound) return;

                let articleIsFeatured = item.is_featured;
                featuredArticleHasBeenFound = articleIsFeatured;
                if(articleIsFeatured) {
        %>
            <%- partial('_partial/article-featured', {item: item, is_featured: articleIsFeatured}) %>
        <% 
                }
            }); 
        %>

        <details class="other-featured-articles">
            <summary>
                <h3>Past Featured Articles</h3>
            </summary>

            <section class="section card-grid">
                <% 
                    page.posts.each(function(item){ 
                        let articleIsFeatured = item.is_featured;
                        if(articleIsFeatured) {
                %>
                    <%- partial('_partial/article-excerpt', {item: item, is_featured: false, with_excerpt: false}) %>
                <% 
                        }
                    }); 
                %>
            </section>
        </details>        
    </section>
    
    <section class="section">
        <header class="section__heading">
            <h2>Recent Articles</h2>
        </header>
        <% 
            page.posts.each(function(item){ 
        %>
            <%- partial('_partial/article-excerpt', {item: item, is_featured: false, with_excerpt: true}) %>
        <% }); %>
        
    </section>

    <section class="section section--categories">
        <%- partial('_widget/categories.ejs') %>
        <%- partial('_widget/tags.ejs') %>
        <%- partial('_widget/links-of-the-week.ejs') %>
    </section>
</main>