<main class="index" aria-label="Content">
    <section class="section">
        <header class="section__heading">
            <h2>Featured Article</h2>
        </header>
        <% 
            page.posts.each(function(item){ 
                let articleIsFeatured = item.is_featured;
                if(articleIsFeatured) {
        %>
            <%- partial('_partial/article-featured', {item: item, is_featured: articleIsFeatured}) %>
        <% }}); %>
        
    </section>
    
    <section class="section">
        <header class="section__heading">
            <h2>Recent Articles</h2>
        </header>
        <% 
            page.posts.each(function(item){ 
        %>
            <%- partial('_partial/article-excerpt', {item: item, is_featured: false}) %>
        <% }); %>
        
    </section>

    <section class="section section--categories">
        <%- partial('_widget/categories.ejs') %>
        <%- partial('_widget/tags.ejs') %>
    </section>
</main>

<!--div class="posts-container">
    < page.posts.each(function(item){ %>
        <- partial('_partial/article-excerpt', {item: item}) %>
    < }); %>
</div>
<%- partial('_partial/pagination') %>-->