<!DOCTYPE html><% 
  var language = page.lang
  if(is_post() && page.language) language = page.language 
%>
<html lang="<%- language %>">
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
<%- partial('_partial/header') %>

<%- body %>
<%- partial('_partial/sidebar') %>

<%- partial('_partial/footer') %>

<a href="#top" class="back-to-top"></a>
</body>

</html>