

<div class="post post--full">
    <!-- Title -->
      <h1 class="post__title">
          <a href="<%- config.root %><%- item.path %>">
              <%- item.title || item.link%>
          </a>
      </h1>
    <!-- Date and Author -->
    <% 
    if(item.author) { %>
        <div class="flex">
            <figure class="author">
                <%- image_tag(item.author.image, {alt: item.author.name, class: 'author__image'}) %>
                <figcaption class="author__meta">
                    <cite class="author__name"><%= item.author.name %></cite>
                    <time datetime="<%= new Date(item.date).toJSON() %>" class="article-date"><%= item.date.format(config.date_format) %></time>
                </figcaption>
            </figure>
        </div>
    <% } %>
    <!-- Content -->
    <%- item.content %>
    <hr />
    <!-- Tags and Categories links -->
    <% if (item.tags && item.tags.length){ %>
    <%
        var tags = [];
        item.tags.forEach(function(tag){
            tags.push('<a class="tag" href="' + config.root + tag.path + '">#' + tag.name + '</a>');
        });
    %>
    <div class="blog-tags-container">
        <strong>Tags</strong>
        <%- tags.join(' ') %>
    </div>
    <% } %>
    <% if (item.categories && item.categories.length){ %>
    <%
        var categories = [];
        item.categories.forEach(function(category){
            categories.push('<a href="' + config.root + category.path + '">' + category.name + '</a>');
        });
    %>
    <div class="blog-categories-container">
        <strong>Filed under </strong>
        <%- categories.join(' | ') %>
    </div>
    <% } %>
</div>