<!DOCTYPE html>
<html lang="<%- page.lang %>" class="dark">
<%- partial('_partial/head') %>
<body class="layout layout--layout">
    <% const pageShouldBeRendered = page.render == null? true : false; %>
    <% if(pageShouldBeRendered) { %>
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div data-scroll data-scroll-showCallback="expandNavbar()"  data-scroll-hideCallback="collapseNavbar()"></div>
    <% } %>
    <%- body %>
    <% if(pageShouldBeRendered) { %>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

    <%- js('js/ScrollTrigger.min.js') %>
    <%- js('js/script.js') %>
    <%- js('js/prism-keep-markup.js') %>
    <% } %>



</body>
</html>